{{ partial "header.html" . }}
  <header class="www-header center">
    <h1 class="mb1">{{ .Title }}</h1>
    <div class="www-index-header-action mx-auto">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    <div class="www-index-header-action mx-auto">
      {{ range .Params.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="www-index-header-action mx-auto">
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </div>

  </header>
  <amp-selector layout="container">
    <main class="flex pl2">

      <aside class="col-2 xs-hide"></aside>

      <article class="www-components flex-auto col-8">
        <section class="www-component-desc">
          {{ .Content }}
        </section>
      </article>

      <aside class="col-2 xs-hide"></aside>
    </main>
  </amp-selector>
{{ partial "footer.html" . }}
